<% layout('layout') -%>
<div class="card center">
  <h2>500 - Server Error</h2>
  <p><%= error && error.message ? error.message : 'Something went wrong.' %></p>
  <a class="btn" href="/">Back Home</a>
</div>
